.product-grid1{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    
  }
  
  .product-card1 {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    width: 250px;
    text-align: center;
  }
  
  .product-card1:hover {
    transform: scale(1.05);
  }
  
  .product-card1 img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
  }
  
  .product-info1{
    padding: 10px;
  }
  
  .product-info1 h3 {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .product-info1 p {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
  }
  
  .product-info1 p:nth-child(3) {
    color: #ff6347;
    font-weight: bold;
  }
  .Tea{
    background-color:#007bff; /* Tomato color */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    outline: none;
    margin-bottom: 10px;
  }